.fastChoice-window {
    width: 500px;
    height:133px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 7px;
    /* SHADOW */
    -webkit-box-shadow: 10px 10px 19px 1px rgba(0,0,0,0.19);
    -moz-box-shadow: 10px 10px 19px 1px rgba(0,0,0,0.19);
    box-shadow: 10px 10px 19px 1px rgba(0,0,0,0.19);
}

.fastChoice-header {
    height: 40px;
    line-height: 40px;
    background: rgba(81, 85, 88, 1.0);
    color: rgba(255, 255, 255, 1.0);
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-family: Quicksand, sans-serif;
}

.margtop {
    margin-top:5px;
}